@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #f9fafb;
  /* gray-50 */
  --foreground: #111827;
  /* gray-900 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #111827;
  /* gray-900 */
  --foreground: #f9fafb;
  /* gray-50 */

  /* For Webkit browsers (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #2d3748;
    /* dark gray */
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #4a5568;
    /* darker gray */
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #718096;
    /* even darker gray on hover */
  }

  /* For Firefox */
  html {
    scrollbar-color: #4a5568 #2d3748;
    /* thumb color track color */
    scrollbar-width: thin;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

/* Custom cursor for light mode */
html:not(.dark) {
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9jAAAAAXNSR0IArs4c6QAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAAEAAADKADAAQAAAABAAAAEAAAAAAXqg+kAAABoSURBVDhPY2AgF2ARsWNgYHj37x+EGRmYPjAwMrC3t/+fGBgYGFwcqAQMDAysrWwMjIwsDKysbGysrAwMDDw/Pz8/MzMz+fn5/f0D+2MGBgYGdgYGJgYGFgYWdgYGBgbGwMDAQARgABxYQ133dD/QAAAAAElFTkSuQmCC") 8 8, auto;
}

/* Custom cursor for dark mode */
html.dark {
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9jAAAAAXNSR0IArs4c6QAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAAEAAADKADAAQAAAABAAAAEAAAAAAXqg+kAAABzSURBVDhPY2AgF2ARsWNgYGFgYGFhbm5uYmBgYGFgYGDg4+Pj4+fn5+bm5uZmZmaOjo6Ojo6+vr7+/v7+/v7+/v7+/v7+/v7+/v7+/gD+CjIyMoAqMDDQ0dHR0dHR0dHRAVKBhYUFQgYGBgYWBgaGAAMxAKjYAAQAKp9d9q/5lQAAAABJRU5ErkJggg==") 8 8, auto;
}